<p>user-edit works!</p>
<form [formGroup]="addUserForm" class="form" (ngSubmit)="onSubmit()" >
  <label for="firstName">First Name:</label>
  <input formControlName="firstName" minlength="2" required id="firstName" type="text" class="form-control"  placeholder="Your first name">
  <div *ngIf="addUserForm.controls['firstName'].invalid && (addUserForm.controls['firstName'].dirty || addUserForm.controls['firstName'].touched)">
      <div *ngIf="addUserForm.controls['firstName'].invalid" class="alert" style="color:red;">
          Please enter First name
      </div>
  </div>
  <br/>
  <label for="lastNameInput">Last Name:</label>
  <input formControlName="lastName" minlength="2" id="lastNameInput" type="text" class="form-control" placeholder="Your lastname">
  <div *ngIf="addUserForm.controls['lastName'].invalid && (addUserForm.controls['lastName'].dirty || addUserForm.controls['lastName'].touched)">
      <div *ngIf="addUserForm.controls['lastName'].invalid" class="alert" style="color:red;">
          Please enter lastName
      </div>
  </div>

  <br/>
  <label for="emailInput">Email:</label>
  <input formControlName="email" minlength="4" id="emailInput" type="email" class="form-control" placeholder="Your email" >
  <div *ngIf="addUserForm.controls['email'].invalid && (addUserForm.controls['email'].dirty || addUserForm.controls['email'].touched)">
      <div *ngIf="addUserForm.controls['email'].invalid" class="alert" style="color:red;">
          Please enter email
      </div>
  </div>

  <br/>
  <label for="ageInput">Age</label>
  <input formControlName="age" required type="number" class="form-control" placeholder="Fill in age" id="ageInput">
  <div *ngIf="addUserForm.controls['age'].invalid && (addUserForm.controls['age'].dirty || addUserForm.controls['age'].touched)">
    <div *ngIf="addUserForm.controls['age'].invalid" class="alert" style="color:red;">
        Please enter age
    </div>
  </div>
  <br/>
  <br/>
  <a routerLink="/users"><button type="submit" class="btn btn-success" [disabled]="addUserForm.invalid" (click)="onSubmit()">Save</button></a>
</form>
